@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lobster&display=swap');

body {
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(159, 210, 236);
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    padding: 20px 50px 20px 50px;
    background-image: url("../img/background.png");
    background-size: cover;
    
    background-repeat: no-repeat;
}

.topNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 1550px;
    height: 60px;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    
}

.topNav * {
    color: rgb(102, 189, 232);
}

#user-Location {
    font-size: 25px;
}


#wlcmSign {
    font-family: 'Lobster', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 80px;
}

a {
    text-decoration: none;
}

#localTime {
    color: gray;
    font-size: 20px;
}

.startInfo {
    display: grid;
    grid-template-rows: 1fr repeat(6, min-content); 
    grid-template-columns: 20% 60% 20%;
    row-gap: 30px;
    width: 100%;
    max-width: 1550px;
    min-height: 60vh;
    border-radius: 15px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
}

.displayCity {
    grid-row: 1;
    grid-column:2;
    text-align: center;
    font-size: 50px;
    color: rgb(102, 189, 232);
}

.today {
    display: grid;
    grid-row: 2;
    grid-column:2;
    grid-template-columns: 100px repeat(5, 1fr);
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 10px grey;
    width: 100%;
    height: 200px;
}

        .today * {
            display:flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            text-align: center;
            color: rgb(102, 189, 232);
            
        }

        .day1weatherCode {
        
            font-size: 125px;
            align-self: center;
            text-align:center;
        }

        .dlyRainsum {
            margin: 0;
            justify-self: center;
        }

        .rainMetrics {
            font-size: 15px;
            font-weight: lighter;

        }

        .info4 {
            display: flex;
            flex-direction: column-reverse;
        }


        .txttmpMinMax {
            font-size: 15px;
            font-weight: lighter;
        }

        .tempMinMax1 {
            margin-top: 0;
        }

        .meterSecond {
            font-size: 15px;
            font-weight: lighter;
        }

.day2 {
    display: grid;
    grid-row: 3;
    grid-column:2;
    grid-template-columns:  100px repeat(5, 1fr);
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 10px grey;
    width: 100%;
    height: 200px;
}

        .day2 * {
            display:flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            text-align: center;
            color: rgb(102, 189, 232);
        }

        .day2weatherCode {

            font-size: 125px;
            align-self: center;
            text-align:center;
        }

        .day2Rainsum {
            margin: 0;
            justify-self: center;
        }

        .rainMetrics {
            font-size: 15px;
            font-weight: lighter;

        }

        .info9{
            display: flex;
            flex-direction: column-reverse;
        }


        .txttmpMinMax {
            font-size: 15px;
            font-weight: lighter;
        }

        .tempMinMax2 {
            margin-top: 0;
        }

        .meterSecond {
            font-size: 15px;
            font-weight: lighter;
        }

.day3 {
    display: grid;
    grid-row: 4;
    grid-column:2;
    grid-template-columns:  100px repeat(5, 1fr);
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 10px grey;
    width: 100%;
    height: 200px;
}


        .day3 * {
            display:flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            text-align: center;
            color: rgb(102, 189, 232);
        }

        .day3weatherCode {

            font-size: 125px;
            align-self: center;
            text-align:center;
        }

        .day3Rainsum {
            margin: 0;
            justify-self: center;
        }

        .rainMetrics {
            font-size: 15px;
            font-weight: lighter;

        }

        .info14{
            display: flex;
            flex-direction: column-reverse;
        }


        .txttmpMinMax {
            font-size: 15px;
            font-weight: lighter;
        }

        .tempMinMax3 {
            margin-top: 0;
        }

        .meterSecond {
            font-size: 15px;
            font-weight: lighter;
        }

.day4 {
    display: grid;
    grid-row: 5;
    grid-column:2;
    grid-template-columns: 100px repeat(5, 1fr);
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 10px grey;
    width: 100%;
    height: 200px;
}

        .day4 * {
            display:flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            text-align: center;
            color: rgb(102, 189, 232);
        }

        .day4weatherCode {

            font-size: 125px;
            align-self: center;
            text-align:center;
        }

        .day4Rainsum {
            margin: 0;
            justify-self: center;
        }

        .rainMetrics {
            font-size: 15px;
            font-weight: lighter;

        }

        .info19{
            display: flex;
            flex-direction: column-reverse;
        }


        .txttmpMinMax {
            font-size: 15px;
            font-weight: lighter;
        }

        .tempMinMax4 {
            margin-top: 0;
        }

        .meterSecond {
            font-size: 15px;
            font-weight: lighter;
        }

.day5 {
    display: grid;
    grid-row: 6;
    grid-column:2;
    grid-template-columns:  100px repeat(5, 1fr);
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 10px grey;
    width: 100%;
    height: 200px;
}


        .day5 * {
            display:flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            text-align: center;
            color: rgb(102, 189, 232);
        }

        .day5weatherCode {

            font-size: 125px;
            align-self: center;
            text-align:center;
        }

        .day5Rainsum {
            margin: 0;
            justify-self: center;
        }

        .rainMetrics {
            font-size: 15px;
            font-weight: lighter;

        }

        .info24{
            display: flex;
            flex-direction: column-reverse;
        }


        .txttmpMinMax {
            font-size: 15px;
            font-weight: lighter;
        }

        .tempMinMax5 {
            margin-top: 0;
        }

        .meterSecond {
            font-size: 15px;
            font-weight: lighter;
        }

#infoBTN {
    background-color: rgb(159, 210, 236);
    color: white;
    font-weight: bold;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.1s;
}

#infoBTN:hover {
    transform: scale(1.1);
}

#infoBTN:visited {
    color: white;
}

