
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lobster&display=swap');

body {
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(159, 210, 236);
    padding: 20px 50px 20px 50px;
    background-image: url("/img/background.png");
    background-size: cover;
    
    background-repeat: no-repeat;
}

body * {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

.topNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 1550px;
    height: 60px;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    
}

.topNav * {
    color: rgb(102, 189, 232);
}

#user-Location {
    font-size: 25px;
}


#wlcmSign {
    font-family: 'Lobster', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 80px;
}

a {
    text-decoration: none;
}

#localTime {
    color: gray;
    font-size: 20px;
    margin-bottom: 10px;
    
}

.startInfo {
    display: grid;
    grid-template-rows: 1fr repeat(3, min-content) 50px repeat(2, min-content);
    grid-template-columns: 20% 60% 20%;
    row-gap: 30px;
    width: 100%;
    max-width: 1550px;
    min-height: 60vh;
    border-radius: 15px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
}

.s-h1 {
    font-family: 'Lobster', Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(102, 189, 232);
    grid-column: 2;
    text-align: center;
}


#moreInfo {
    grid-row:6;
    grid-column:2;
    color:black;
    display: none;
}


/* search popup box styling */
.searchPopup {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 60px 1fr repeat(4, 1fr);
    grid-row:6;
    grid-column: 2;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 10px grey;
    width: 100%;
    height: 100%;
}


        .searchPopup * {
            display:flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            text-align: center;
            color: rgb(102, 189, 232);
        }

        .popupLocationName {
            grid-column: 1 / span 5;
            justify-self: start;
            font-size: 25px;
            margin-top: 5px;
            margin-left: 5px;
 
        }

        .favStar {
            grid-column: 6;
            justify-self: end;
            margin-right: 10px;
            color:gray;
            transition: color 0.3s ease;
        }
        
        .favStar:hover {
            color: gold;
            transform: scale(1.1);
        }
        
        .active {
            color: gold;
        }

        .popupdlyweatherCode {
        
            font-size: 100px;
            align-self: center;
            text-align:center;
        }

        .popupdlyRainsum {
            margin: 0;
            justify-self: center;
           
        }

        .popuprainMetrics {
            font-size: 15px;
            font-weight: lighter;

        }

        .info4 {
            display: flex;
            flex-direction: column-reverse;
        }


        .popuptxttmpMinMax {
            font-size: 15px;
            font-weight: lighter;
        }

        .popuptempMinMax {
            margin-top: 0;
         
        }

        .popupmeterSecond {
            font-size: 15px;
            font-weight: lighter;
        }


#searchElement {
    align-self: center;
    text-align: center;
    grid-row: 7;
    grid-column: 2;
    width: 100%;
    margin-bottom: 50px;
}

#inputSearch {
    border: 2px solid rgb(159, 210, 236);
    border-radius: 10px;
    padding: 10px;
    width: 50%;

}

#inputSearch:focus {
    outline: none;
}

#infoBTN {
    background-color: rgb(159, 210, 236);
    color: white;
    font-weight: bold;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    transition: 0.1s;
    margin-left: 10px;
}

#infoBTN:hover {
    transform: scale(1.1);
}

#infoBTN:visited {
    color: white;
}


/* styling for saved locations */

.searchSave1{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 60px 1fr repeat(4, 1fr);
    grid-row:2;
    grid-column: 2;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 10px grey;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.searchSave1 * {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    color: rgb(102, 189, 232);
}

.searchSave2 {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 60px 1fr repeat(4, 1fr);
    grid-row:3;
    grid-column: 2;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 10px grey;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.searchSave2 * {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    color: rgb(102, 189, 232);
}

.searchSave3 * {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    color: rgb(102, 189, 232);
}



.searchSave3 {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 60px 1fr repeat(4, 1fr);
    grid-row:4;
    grid-column: 2;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 10px grey;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.removeStar {
    grid-column: 6;
    justify-self: end;
    margin-right: 10px;
    color: gold;

}

.removeStar:hover {
    transform: scale(1.2);
    cursor: pointer;
}


.locationName {
    grid-column: 1 / span 5;
    justify-self: start;
    font-size: 25px;
    margin-top: 5px;
    margin-left: 5px;
}

.dlyweatherCode {

    font-size: 100px;
    align-self: center;
    text-align:center;
}

.dlyRainsum {
    margin: 0;
    justify-self: center;
}

.rainMetrics {
    font-size: 15px;
    font-weight: lighter;

}

.info4 {
    display: flex;
    flex-direction: column-reverse;
}

.tempMinMax {
    margin: 0px;
    margin-bottom: 12px;
}

.txttmpMinMax {
    font-size: 15px;
    font-weight: lighter;
    margin: 0;
}

.meterSecond {
    font-size: 15px;
    font-weight: lighter;
}

.ddStyle {
    grid-column: 1;
}

.wcodestyle {
    grid-column: 2;
}

.ctempStyle {
    grid-column: 3;
}

.drainStyle {
    grid-column: 4;
}

.tminmaxStyle {
    grid-column: 5;
}

.dwindspdStyle {
    grid-column: 6; 
}
